{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<nav aria-label="breadcrumb" class="col">
  <ol class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    {% for crumb in crumbs %}
      <li class="breadcrumb-item">
      {% if not loop.last %}
        {% if crumb.routable %}
          <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
        {% else  %}
          <span itemprop="title">{{ crumb.menu }}</span>
        {% endif %}
      {% else %}
        {% if breadcrumbs_config.link_trailing %}
          <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
        {% else %}
          <span itemprop="title" aria-current="page">{{ crumb.menu }}</span>
        {% endif %}
      {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
