<aside class="sidebar">
    {% if page.header.downloads is not empty or page.header.links is not empty %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-header__title">Downloads & Links</h4>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                {% for download in page.header.downloads %}
                    <li class="media mb-2 download-file__item">
                    {% set file = download.file|first %}
                        {% set extension = pathinfo(file.path).extension %}
                        <i class="far fa-file {{ extension|fa_extension_class }} mr-2 download-file__extension" title="Dateityp: {{ extension|upper }}"></i>
                        <div class="media-body">
                            <a href="/{{ file.path }}" target="_blank">
                                <div class="download-file__name">{{ download.text|raw }}</div>
                            </a>
                            <small class="download-file__size"><span class="sr-only">Dateigröße</span> {{ file.size|nicefilesize }}</small>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {% if page.header.downloads is not empty and page.header.links is not empty %}
                <hr>
            {% endif %}

            {% if page.header.links is not empty %}
                <ul class="list-unstyled">
                    {% for link in page.header.links %}
                        <li class="media mb-2">
                            {% set extension = pathinfo(file.path).extension %}
                            {% if isEmail(link.url) %}
                                <i class="fas fa-envelope mr-2"></i>
                            {% else %}
                                <i class="fas fa-link mr-2"></i>
                            {% endif %}
                            <div class="media-body">
                                {% if isEmail(link.url) %}
                                    <a href="mailto:{{ link.url|safe_email }}">
                                {%else %}
                                    <a href="{{ link.url }}" target="_blank">
                                {% endif %}
                                    <div class="download-file__name">{{ link.text|raw }}</div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
</aside>
