<div class="person card mb-3">
  <div class="row no-gutters">
    <div class="col-sm-4">
      {% if person.media[person.header.image|first.name].url %}
        <img src="{{ person.media[person.header.image|first.name].url }}" class="card-img" alt="{{ person.header.name }}">
      {% endif %}
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ person.header.name }}</h5>
        {% if person.header.position %}
          <h6 class="card-subtitle">{{ person.header.position }}</h6>
        {% endif %}
        <p class="card-text">
          {% if person.header.phone %}
            <i class="fas fa-phone-square" title="Telefonnummer"></i> {{ person.header.phone }}<br>
          {% endif %}
          {% if person.header.mail %}
            <i class="fas fa-envelope" title="Mailadresse"></i> <a href="mailto:{{ person.header.mail|safe_email }}">{{ person.header.mail|safe_email }}</a>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>